@{
    ViewData["Title"] = "Edit resto";
    Restaurant r = ViewBag.resto;
}

<div>
    <h1 class="display-4 mb-4">Édition de la node du restaurant @r.Name</h1>
    <form method="post" action="EditQuery">
        <input type="text" value="@r.Id" name="id" hidden />
        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <input type="number" value="@r.Note" min="1" max="5" name="note" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="noteCommentary" class="form-label">Commentaire de la note</label>
            <input type="text" value="@r.NoteCommentary" name="noteCommentary" required class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Modifier la note</button>
        <a class="btn btn-secondary" asp-area="" asp-controller="Notes" asp-action="Index">Retour</a>
    </form>
</div>
