@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Les meilleurs restaurants de Grenoble</h2>
    <ul>
        <li>Mcdo</li>
        <li>Subway</li>
        <li>KFC</li>
        <li>Burger King</li>
        <li>Five guys</li>
    </ul>
</div>
