@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Bienvenue !</h1>
    <h2 class="mb-4">Les 5 meilleurs restaurants</h2>
    <div class="row">
        @foreach (var p in ViewBag.fiveBest)
        {
        <div class="col-4">
            <div class="col-12">
                <div class="card my-2">
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@p.Note/5</h6>
                        <p class="card-text">@p.Commentary</p>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
