@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Les 5 meilleurs restaurants</h2>
    <ul>
        @foreach (var p in ViewBag.fiveBest)
        {
            <li>
                @p.Name : @p.Commentary
            </li>
        }
    </ul>
</div>
