@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Création du restaurant</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Listing" asp-action="Index">Retour</a>
</div>
