@{
    ViewData["Title"] = "Create resto";
}

<div class="text-center">
    <h1 class="display-4">Création du restaurant</h1>
    <form method="post" action="CreateResto">

        <label for="name">Nom du restaurant</label>
        <input type="text" name="name" required /><br />

        <label for="phone">Téléphone</label>
        <input type="text" name="phone" required /><br />

        <label for="commentary">Description</label>
        <input type="text" name="commentary" required /><br />

        <label for="email">Email</label>
        <input type="email" name="email" required /><br />

        <label for="street">Adresse</label>
        <input type="text" name="street" required /><br />

        <label for="zip">Code postal</label>
        <input type="number" name="zip" required /><br />

        <label for="city">Ville</label>
        <input type="text" name="city" required /><br />

        <label for="lastTimeVisited">Date de dernière visite</label>
        <input type="date" name="lastTimeVisited" required /><br />

        <label for="note">Note</label>
        <input type="number" min="1" max="5" name="note" required /><br />

        <label for="noteCommentary">Commentaire de la note</label>
        <input type="text" name="noteCommentary" required /><br />

        <input type="submit" value="Créer le produit" />
    </form>
    <a class="nav-link text-dark" asp-area="" asp-controller="Listing" asp-action="Index">Retour</a>
</div>
