@{
    ViewData["Title"] = "Create resto";
}

<div>
    <h1 class="display-4 mb-4">Création du restaurant</h1>
    <form method="post" action="CreateResto">

        <div class="mb-3">
            <label for="name" class="form-label">Nom du restaurant</label>
            <input type="text" name="name" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Téléphone</label>
            <input type="text" name="phone" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="commentary" class="form-label">Description</label>
            <input type="text" name="commentary" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="street" class="form-label">Adresse</label>
            <input type="text" name="street" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="zip" class="form-label">Code postal</label>
            <input type="number" name="zip" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Ville</label>
            <input type="text" name="city" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="lastTimeVisited" class="form-label">Date de dernière visite</label>
            <input type="date" name="lastTimeVisited" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <input type="number" min="1" max="5" name="note" required class="form-control" />
        </div>
        <div class="mb-3">
            <label for="noteCommentary" class="form-label">Commentaire de la note</label>
            <input type="text" name="noteCommentary" required class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Créer le restaurant</button>
        <a class="btn btn-secondary" asp-area="" asp-controller="Listing" asp-action="Index">Retour</a>
    </form>
</div>
